<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			<h2>About all this...</h2>
			<p class="roomy">I built this blog on Rails
			with the help of Devise for security and authentication,
			 ActiveAdmin to facilitate management, and Bootstrap for
			 layout.</p>
			<p class="roomy">After working 20 years in the live 
			entertainment industry as a lighting designer and 
			production electrician I decided to pursue another one
			of my passions - technology. Learning to code seemed
			an obvious choice.  I was just as likely to spend my 
			free time coding small projects for fun as I was to pull
			out my guitar and write music, so why not dive deeper?</p>
			<p class="roomy">Technology is possibility. There is 
			almost no limit to what we can achieve
			to better our social and economic lives.</p>
		</div>
		<%= link_to 'Back', :back, class: "btn btn-default" %>
	</div>
</div><!-- /.container -->