<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			<h2>Contact Information</h2>
			<p class="roomy">You can find me:</p>
			<ul class="larger">
				<li><a href="https://github.com/SilverFox70">SilverFox70</a>
				on GitHub.</li>
				<li><a href="https://www.facebook.com/bill.brinkert">Bill Brinkert</a>
				on FaceBook</li>
				<li><a href="https://www.linkedin.com/in/billbrinkert">Bill Brinkert</a>
				on LinkedIn</li>
			</ul>
		</div>
	</div>
</div><!-- /.container -->