<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header">Portfolio Projects</h1>
      
        <!-- Project -->
        <h2>Blog-Framework    <small>
          <a href="https://github.com/SilverFox70/blog-framework" target="blank">   
          <span class="glyphicon glyphicon-link"></span> REPO</a>
          </small>
        </h2>

        <hr>

        <p class="med-text">This code is the base framework I created for this
        very site you are looking at right now.  Although my main 
        <a href="https://github.com/SilverFox70/SF70-Blog"></a>repo has some
        subtle differences, the bones are the same. Rails 4.2.5 with a 
        bootstrap based front end, a mix of Javascript, jQuery, HTML and CSS
        all helping out. Postgres is the database behind the scenes.</p> 
        <p class="med-text">Devise is used to handle security and authentication,
        while ActiveAdmin is employed to handle administration duties, like
        monitoring and deleting comments, or adding posts. This repo may be forked
        for your own use or you can contribute to making a free, Rails-based
        blog framework and submit pull requests for refactoring or additional
        features.</p> 

    </div><!--/.col-md-8 -->

    <div class="col-md-4 marg-top">
       <%= image_tag("https://s3.amazonaws.com/railsblogframework/blog_pic.jpg", class:"img-responsive" ) %> 
    </div><!-- /.col-md-4 -->

  </div><!--/.row -->

  <hr>



  <hr>

  <div class="row">
    <div class="col-md-8">

        <h2>Friends With Spaces  <small>
          <a href="https://github.com/SilverFox70/Friends-with-Spaces" target="blank">   
          <span class="glyphicon glyphicon-link"></span> REPO</a> | 
          <a href="http://friends-with-spaces.heroku.com" target="blank">   
          <span class="glyphicon glyphicon-link"></span> SITE</a>
          </small>
        </h2>

        <hr>

        <p class="med-text">A work in progress, this web app will connect people who have
        available space (whether for work, play, or socialization) with their friends who need a break
        from the realities of urban living and housemate situations. Hopefully it will fill a niche
        that other 'BnB' type sites can't squeeze in to. Built on Rails and styled
        with Bootstrap, it will be ready for alpha testing in June.</p>
        <p class="med-text">You can see the teaser for the full site and get a sense of the look and 
        feel of this project.</p> 

    </div><!--/.col-md-8 -->

    <div class="col-md-4 less-marg-top">
       <%= image_tag("https://s3.amazonaws.com/railsblogframework/fws.jpg", class:"img-responsive" ) %> 
    </div><!-- /.col-md-4 -->

  </div><!--/.row -->

  <hr>

  <div class="row">
    <div class="col-md-8">

        <h2>LEDWorks 4   <small>
          <a href="https://github.com/SilverFox70/LEDWorks4" target="blank">   
          <span class="glyphicon glyphicon-link"></span> REPO</a>
          </small>
        </h2>

        <hr>

        <p class="med-text">I developed this as an alternate, improved way to program
        Sunnywell LED signs. We had to program formatted text into the signs every day
        at work, but the software the signs shipped with was terrible for our purposes.
        So, I started by using an RS-232 sniffer to capture the data stream their software
        output to the signs. Once I understood the "language" the signs spoke, I started to
        develop my own software to program them. </p>
        <p class="med-text">The program loads up a form, dependent on settings you input
        in a config file, and then takes the user input from the form and produces the
        'sign-ready' data.  A third party plug-in allows the program to send the data to
        the Sunnywell signs.</p> 

    </div><!--/.col-md-8 -->

    <div class="col-md-4 less-marg-top">
       <%= image_tag("https://s3.amazonaws.com/railsblogframework/ledw4.jpg", class:"img-responsive" ) %> 
    </div><!-- /.col-md-4 -->

  </div><!--/.row -->

  <hr>
   
</div><!-- /.container -->