<div class="well">
  <h4>This Rails Powered Blog</h4>
  <p>If you like what you see and would like to use this framework
  to build your own blog site, check out my Github repo 
  <a href="https://github.com/SilverFox70/blog-framework">here</a>.
  The code there is always a few days behind the code underneath
  the hood here, but if you know HTML and CSS it's a snap to
  customize the look and feel.</p>
</div>